:root {
  --orange: #f7703b;
  --white: white;
}
.nav-link {
  color: var(--white);
  background-color: var(--orange);
  min-width: 8rem !important;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 1rem !important;
}
.nav-link:hover {
  box-shadow: 0 2px 0 0 black !important;
  color: var(--white);
}
.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 1rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--orange);
  color: var(--white);
  font-weight: bold;
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow-y: hidden;
  z-index: 3;
}
.hlink{
  text-decoration: none;
  color: var(--blue);
}